.editorconfig
.git
.gitignore
.vscode

AUTHORS.md
CONTRIBUTING.md
README.md
LICENSE
NOTICE

Makefile

arm/
powerpc/
mips/

node_modules
npm-debug.log

.dockerignore
Dockerfile*
docker-compose*

env
*.pdf
*.exe
*.html